h5{
    color: #92A1AD;
    font-size: 14px;
    font-family: Times New Roman;
    font-weight: 400;
    line-height: 24px;
    word-wrap: break-word;
}
img{
    width: 80px;
    height: 100px;
    border-radius: 50px;
    align-items: center;
    margin-top: 2px;
}
.dic{
    margin-right: 50px;
    background: #FAF9F9;
    border-radius: 15px;
    display: flex;
    justify-content: start;
    height: 150px;
    width: 75%;
}
input{
    width: 500px;
    height: 40px;
    background: #F4EEEE;
    border-radius: 9px;
    border: 0.50px #B2A6A6 solid;
    direction: rtl;
}
input:hover{
    border: none;
}
.day{
    margin-right: 50px;
    align-items: center;
    margin-top: 10px;
    display: flex;
    justify-content:space-around ;
    background: #FFFDFD;
    border-radius: 13px;
    width: 75%;
}
p,input{
    color: #9E9EB2; 
    font-size: 4px; 
    font-family: Times New Roman; 
    font-weight: 700;
    line-height: 24px; 
    word-wrap: break-word;
    background-color: transparent;
    padding: 15px;
    
}
.radio {
    display: flex;
    align-items: center;
    margin-bottom: 10px;
    background-color: transparent;
    word-wrap: break-word;
}
.radio p {
    font-size: 14px;
    margin-right: 5px;
}
.radio input[type="radio"] {
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    width: 16px;
    height: 16px;
    border-radius: 50%;
    border: 1.5px solid #0771DE;
    outline: none;
    margin-right: 5px;
}
.radio input[type="radio"]:checked {
    background-color: #0771DE;
}
.left {
    margin-left: 50px;
    background: #F7F7F7;
    border-radius: 12px;
}
.wrapper {
    display: flex;
    justify-content: space-between;
}
.nav {
    text-align: right;
}
